
.header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.headeritems{
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
}
.headersearch{
  padding-top: 18px;
  text-align: center;
}
.latest{
  margin-top: 130px;
}
.title{
  text-align: center;
}
.latestbooks{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
  margin-top: 50px;
}
.booksstats{
  text-align: center;

}
.bookimg{
  height: 350px;
}
.bookstat{
  margin-top: 0;
  margin-bottom: 0;
}
.book-borrow-button-container{
  align-items: center;
  text-align: center;
}
.book-borrow-button{
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  width: 90px;
  margin-top: 12px;
  margin-bottom: 12px;
  transition : color 1s , background-color 1s;
}
.book-not-borrow-button{
  background-color: gray;
  color: white;
  border: none;
  height: 40px;
  width: 90px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.book-not-borrow-button:hover{
  cursor: not-allowed;
}
.book-borrow-button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

