.profile-img{
  height: 90px;
  padding-left: 25%;
  border-radius: 50%;

}

.profile-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-color: black;
  border-style: solid;
  height: 50vh;
  margin-top: 250px;
  margin-left: 100px;
  background-color: transparent;
  box-shadow: 1px 1px 6px black;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 900px;
  background-color: white;

}
.infos{
  border-left-width: 2px;
  border-left-color: black;
  border-left-style: solid;
  padding-left: 12px;
  padding-top: 50px;
}
input{
  height: 30px;
  background-color: transparent;
  border: none;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin-bottom: 12px;
}
input:focus{
  outline: none;
}
p{
  margin-bottom: 12px;
  
}