.profile-img{
  height: 90px;
  border-radius: 250px;
  padding-left: 12px;
}

.profile-container{
  display: grid;
  grid-template-columns: 170px 1fr;
  border-color: black;
  border-style: solid;
  width: 600px;
  height: 50vh;
  margin-top: 250px;
  margin-left: 100px;
  background-color: transparent;
  box-shadow: 1px 1px 6px black;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.infos{
  border-left-width: 2px;
  border-left-color: black;
  border-left-style: solid;
  padding-left: 12px;
}
input{
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-right-width: 2px;
  border-right-color: black;
  border-right-style: solid;
  margin-bottom: 12px;
}
input:focus{
  outline: none;
}
p{
  margin-bottom: 12px;
  
}