.conf-user-info{
  width: 400px;
  height: 300px;
  margin-right: 12px;
  border-width: 1px;
  border-color: black;
  box-shadow: 2px 2px 8px black;
}

.conf-elements{
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  
}

.name-email{
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: white;
  height: 40px;
  margin-top: 12px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}
.input{
  height: 23px;
  margin-left: 12px;
  margin-bottom: 12px;
}
.more-infos{
  justify-content: center;
  height: 30px;
  margin-top: 12px;
  padding-left: 12px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}
.inputs-adress{
  margin-top: 12px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}
.button-div{
  position: relative;
  margin-top: 12px;
}
.Continue-button{
  position: absolute;
  left: 12px;
  right: 12px;
  height: 30px;
  background-color: rgb(9, 165, 9);
  color: white;
  border-width: 1px;

}

.Continue-button:hover{
  opacity: 0.8;
  cursor: pointer;

}

.conf-user-items{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 400px;
  height: 260px;
  box-shadow: 2px 2px 8px black;

}
.back-to-shelf-button-container{
  height: 40px;
  padding-top: 12px;
  padding-left: 12px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  
}
.back-to-shelf-button{
  border-width: 1px;
  height: 30px;
  background-color: white;
}

.back-to-shelf-button:hover{
  background-color: rgb(163, 161, 161);
  color: white;
  cursor: pointer;
}
.brrowing-summary{
  padding-left: 12px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}
.checkout-items{
  justify-content: center;
  text-align: center;
  align-items: center;
  display: grid;
  height: 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  
}

.summary-items{
  padding-left: 12px;
}


.summary-items-items, .summary-items-date{
  margin-top: 8px;
  padding: 0;
}