.conf-user-info{
  width: 400px;
  height: 300px;
  margin-right: 12px;
  border-width: 1px;
  border-color: black;
  box-shadow: 2px 2px 8px black;
}
.conf-elements{
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.input{
  height: 23px;
  margin-left: 12px;
  margin-bottom: 12px;
  background-color: transparent;
}
.input:focus{
  outline: none;
}
.input::-webkit-input-placeholder {
  padding-left: 5px;
  font-size: 15px;
  color: #3c3c3c;
}
.input::placeholder{
  color: white;
}
.more-infos{
  justify-content: center;
  height: 30px;
  margin-top: 12px;
  padding-left: 12px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}
.inputs-adress{
  margin-top: 12px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}
.button-div{
  position: relative;
  margin-top: 12px;
}
.Continue-button{
  position: absolute;
  left: 12px;
  right: 12px;
  height: 30px;
  background-color: black;
  color: white;
  border-width: 1px;
  transition: color 1s, background-color 1s;

}
.Continue-button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}
.conf-user-items{
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 400px;
  box-shadow: 2px 2px 8px black;
}
.back-to-shelf-button-container{
  height: 40px;
  padding-top: 12px;
  padding-left: 12px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px; 
}
.back-to-shelf-button{
  border-width: 1px;
  height: 30px;
  background-color: black;
  color: white;
  transition: color 1s, backround-color 1s;
}
.back-to-shelf-button:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}
.brrowing-summary{
  padding-left: 12px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}
.checkout-items{
  padding: 7px;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px; 
}
.summary-items{
  padding-left: 12px;
}
.summary-items-items, .summary-items-date{
  margin-top: 8px;
  padding: 0;
}