.upper-part{
    margin-top: 90px;
    text-align: center;
}
.container-1{
    border: solid;
    height: 190px;
    width: 800px;
    margin: auto;
    margin-bottom: 12px;
    box-shadow: 3px 3px 20px black;
    display: grid;
    position: relative;
    background-color: wheat;
    
}
.wherethereturnis{
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
}
.back-to-browsing-button{
    position: absolute;
    left: 0;
    margin-left: 12px;
    margin-top: 12px;
    background-color: black;
    color: white;
    height: 40px;
    border-width: 1px;
    transition: color 1s, background-color 1s;
}
.back-to-browsing-button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.wherethebooksare{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    position: relative;
}
.state{

    margin-top: 40px;
}
.confirm-button{
    height: 40px;
    background-color: black;
    color: white;
    border-width: 1px;
    position: absolute;
    right: 0;
    margin-right: 22px;
    transition: color 1s, background-color 1s;


}
.confirm-button:hover{
    opacity: 0.6;
    cursor: pointer;
    color: black;
    background-color: white;
}
.container-2{
    background-color: wheat;
    border: solid;
    width: 800px;  
    margin: auto;  
    box-shadow: 3px 3px 20px black;
}
.the-shelf-content{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container-2-elements{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 60px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
}
.container-2-placement{
    height: 140px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;

}
.check-img{
    height: 120px;
}
.test{
    height: 80px;
}
.Remove-button{
    height: 30px;
    color: black;
    margin-top: 12px;
    width: 90px;
    background-color: rgb(241, 41, 41);
}
.Remove-button:hover{
    opacity: 0.6;
    color: white;
    cursor: pointer;
}

.history-confirm{
    height: 30px;
    color: black;
    margin-top: 12px;
    width: 90px;
    background-color: rgb(12, 171, 12);
}
.history-confirm:hover{
    opacity: 0.6;
    color: white;
    cursor: pointer;
}